<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>My Application</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">Register</a></li>    
        </ul>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minima quas maiores nisi! Minus ab deserunt architecto fugiat iusto sint delectus labore beatae distinctio. Hic dolore voluptatibus perferendis exercitationem. Commodi deleniti quod inventore? Voluptatem, aut ea rem vero quas sapiente, ducimus quisquam eum enim eveniet voluptatibus? Optio cum repellat inventore debitis delectus! Illum, ratione quisquam facilis porro totam iste, nam similique velit nemo distinctio praesentium doloribus provident quaerat quo deleniti esse blanditiis? Praesentium, magni nisi doloremque officia ad, laudantium explicabo consequuntur itaque quidem porro magnam amet laborum quod sint! Placeat possimus iusto fuga perspiciatis quasi. Iusto enim dolorum inventore. Reprehenderit.</p>
    <img src="/images/1.avif" alt="">
    <img src="/images/2.webp" alt="">



<script src="/js/main.js"></script>

</body>
</html>