<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><p>JSONPlaceholder</p></header>
    <h1>{JSON} Placeholder</h1>

    <h2>Free fake API for testing and prototyping.
        Powered by JSON Server + LowDB. Tested with XV.</h2>


    <p><strong>Serving ~2 billion requests each month.</strong></p>

        <h1>Resources</h1>
        <h3>JSONPlaceholder comes with a set of 6 common resources:</h3>
        <p> 
            <a href="/posts"> /posts </a> <span> 100 posts</span>
        </p>

        <p><strong>Note</strong>: resources have relations. For example: posts have many comments, albums have many photos, ... see guide for the full list.</p>
</body>
</html>